# Render backend envs
MONGO_URI=
MONGO_DB=Portfolio
MONGO_COLLECTION=profiles

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM=
MAIL_TO=

FRONTEND_ORIGIN=https://YOUR-PAGES-DOMAIN.pages.dev
PORT=10000
