PORT=5000
MONGO_URI=mongodb+srv://Portfolio:Portfolio@portfolio.o6nfh3w.mongodb.net/Portfolio?retryWrites=true&w=majority&appName=Portfolio
FRONTEND_ORIGIN=http://localhost:5173

# Nodemailer SMTP Email Notifications
SMTP_USER=your-gmail@gmail.com
SMTP_PASS=your-gmail-app-password-16-digits
